*__pycache__
*.ipynb_checkpoints/
*.deb
*.tar
*.pth

module1_computer_vision/object_detection_project/data/
module1_computer_vision/object_detection_project/experiments/
module2_sensor_fusion/dataset/
module2_sensor_fusion/sensor_fusion_project/results/